body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgba(100, 148, 237, 0.667);
    font-family: sans-serif;
    text-align: center;
}

.red {
    color: firebrick;
}